@font-face {
  font-family: "Garamond";
  src: url("fonts/EBGaramond-VariableFont_wght.woff2");
}
:root {
  font-family: "Garamond";
  --text-color: #0b232c;
  --bg-color: #fffef0;
  --accent-color: #4b7bec;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 800px;
  margin: auto;
  height: auto;
}

body::selection {
  background: var(--text-color);
  color: var(--bg-color);
}
/* For some reason, firefox doesnt support ::selection yet  */
::-moz-selection {
  background: var(--text-color);
  color: var(--bg-color);
}
div,
a,
p {
  font-size: clamp(1.25rem, 1.155vw + 0.951rem, 1.875rem);
  line-height: clamp(1.875rem, 1.039vw + 1.606rem, 2.438rem);
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}
h1 {
  font-weight: 600;
  margin: 20px 0;
}
h2 {
  font-weight: 550;
  margin: 20px 0;
}
h3 {
  font-weight: 525;
  margin: 15px 0;
}
h4 {
  font-weight: 500;
  margin: 15px 0;
}
a {
  font-size: clamp(1.25rem, 0.577vw + 1.101rem, 1.563rem);
  line-height: clamp(1.875rem, 0.289vw + 1.8rem, 2.031rem);
  text-decoration: none;
  font-family: "Garamond";
  color: var(--text-color);
  background-color: transparent;
}
li {
  font-size: clamp(1rem, 4vw, 1.3rem);
}
p {
  margin: 2%;
}
.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  /* sticky */
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  opacity: 95%;
  z-index: 1;
}
.header-left {
  font-weight: 600;
  border-bottom: 1.5px dotted var(--accent-color);
}
.header-left-div {
  width: 10px;
  height: auto;
  color: rgba(11, 35, 44, 0.5);
}
.link-btn {
  border-radius: 5px;
  padding: 2.5px 10px;
  font-weight: 600;
}
.link-btn.important {
  border: 1.5px dotted var(--text-color);
  font-weight: bold;
}
.link-btn:hover,
.project-btns a:hover {
  cursor: pointer;
}
.intro-container {
  margin-top: 10%;
}
.intro-about-me {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
  gap: 20px;
}

.intro-title {
  font-weight: 500;
  display: flex;
  gap: 20px;
  align-items: center;
  color: rgba(11, 35, 44, 0.8);
}
.intro-title span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.project-date {
  font-size: 1.3rem;
  width: fit-content;
}
.project,
.link-btn {
  border: 1.5px solid rgba(11, 35, 44, 0.1);
}
.project {
  border-radius: 10px;
  display: flex;
}
.project-left {
  flex: 1;
  margin-top: 20px;
}
.project-img {
  max-width: 400px;
  object-fit: contain;
}
.project-right {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  width: fit-content;
}
.project-right a {
  width: fit-content;
}
.project-name {
  margin: 10px 0px;
  padding: 0 5px;
  border-bottom: 1px dotted var(--accent-color);
  width: fit-content;
}
.project-name:hover {
  cursor: pointer;
  font-weight: 560;
}
.project-description {
  padding-left: 15px;
  max-width: 60ch;
  overflow: scroll;
}
.project-skills ul {
  margin: 0;
  list-style-type: none;
  padding-left: 10px;
}

.list-label {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
.list-label-text {
  font-size: 1.3rem;
  font-weight: 600;
}
.project-skills h4 {
  margin-bottom: 10px;
}
.project-skills ul {
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
}
.project-skills-list {
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
}
.project-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}
.project-btns a {
  display: flex;
  font-weight: 600;
  background-color: var(--text-color);
  color: var(--bg-color);
  align-items: center;
  border: 1.5px solid rgba(11, 35, 44, 0.2);
  padding: 3px 10px;
  border-radius: 5px;
  height: 25px;
  font-size: 0.8em;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.project-btns a:hover {
  border: 1.5px solid rgba(11, 35, 44, 0.5);
}
.project-source-btns {
  display: flex;
  gap: 10px;
  padding-right: 5px;
  flex-wrap: wrap;
  height: fit-content;
}
.skill-item {
  border: 1px solid rgba(11, 35, 44, 0.2);
  display: flex;
  align-items: center;
  padding: 2px 5px;
  border-radius: 5px;
  width: fit-content;
  height: 25px;
}
.github-link,
.live-deploy-link {
  display: flex;
  gap: 5px;
}
.icon {
  width: fit-content;
  height: fit-content;
  filter: invert(10%) sepia(62%) saturate(540%) hue-rotate(151deg)
    brightness(98%) contrast(97%);
}
.skills-container {
  display: flex;
  flex-direction: column;
}
.list-of-skills {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 30px;
}
.list-of-skills h3 {
  margin: 0;
  margin-bottom: 30px;
}
.frameworks-container,
.languages-container,
.databases-container,
.tools-others-container {
  border: 1px solid rgba(11, 35, 44, 0.2);
  display: flex;
  align-items: center;
  padding: 30px 10px;
  flex-direction: column;
  border-radius: 5px;
}
.frameworks-container-subsections,
.languages-subsection,
.databases-subsection {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.nested-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
ul.nested-list-dump {
  display: flex;
  width: 600px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact-container {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}
.contact-description {
  word-wrap: normal;
}
.caricature {
  width: 300px;
  opacity: 90%;
}
.gelatine:hover {
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

.contact-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-me-btns {
  display: flex;
  gap: 10px;
}
.contact-me-btns .link-btn {
  padding: 0 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-top: 0.5px solid rgba(11, 35, 44, 0.2);
  padding: 20px 0px;
}
.heart.icon {
  vertical-align: middle;
  padding-bottom: 5px;
}
.footer a {
  font-weight: 600;
}
.link-btn:hover {
  border: 1.5px solid rgba(11, 35, 44, 0.5);
}

.recent-works-description,
.project-description,
.intro-about-me {
  color: rgba(11, 35, 44, 0.75);
}

@media (max-width: 800px) {
  body {
    margin: 20px;
  }
  .intro-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
  .project {
    flex-direction: column;
  }
  .project-left {
    display: flex;
    justify-content: center;
  }
  .project-right {
    padding: 5px 20px;
  }
  .contact-container {
    justify-content: center;
    padding-bottom: 90px;
  }
  .contact-container,
  .contact-me-btns {
    flex-wrap: wrap;
  }
  .contact-description {
    max-width: 300px;
    padding-bottom: 10px;
  }
  .contact-me-btns a {
    width: 50px;
    justify-content: center;
  }
  .project-img {
    width: 300px;
  }
  ul.nested-list-dump {
    width: 200px;
    padding: 0 20px;
    justify-content: flex-start;
    align-items: center;
  }
}
